@import "tailwindcss";

@plugin "@tailwindcss/typography";


@plugin "daisyui" {
  themes: luxury --default;
}


@font-face {
    font-family: "TX-02";
    src: url("TX-02.woff2") format("woff2"),
    url("TX-02.ttf") format("truetype"),
    url("TX-02.otf") format("opentype");
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "TX-02", system-ui, sans-serif !important;
}

html {
    font-family: "TX-02", system-ui, sans-serif !important;
}


@layer base {
  code::before {
    content: none !important;
  }

  code::after {
    content: none !important;
  }
}



/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
