<%= turbo_frame_tag @turbo_frame_tag do %>
  <div>
    <h1 class="text-xl">
      New Short Link
    </h1>

    <form action="<%= admin_short_link_index_path %>" method="post">
      <fieldset class="fieldset">
        <legend class="fieldset-legend">URL</legend>
        <input type="text" class="input" placeholder="https://example.com" name="create[url]" required />
      </fieldset>

      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
<% end %>