<div>
  <button type="button" class="btn btn-outline btn-primary" data-controller="component--copy-to-clipboard" data-component--copy-to-clipboard-value-value="<%= @value %>" data-action="component--copy-to-clipboard#copy">
    <%= tabler_icon 'clipboard-copy', class: 'h-6 w-6' %> Copy to clipboard
  </button>
</div>
