<div>
  <button type="button" class="btn btn-outline btn-primary" data-controller="components--copy-to-clipboard" data-components--copy-to-clipboard-value-value="<%= @value %>" data-action="click->components--copy-to-clipboard#copy">
    <%= helpers.tabler_icon 'clipboard-copy', class: 'h-6 w-6' %> Copy to clipboard
  </button>
</div>
