<div data-controller="components--form--stackedit" class="w-full">
  <textarea name="<%= @name %>" data-components--form--stackedit-target="textarea" class="textarea hidden" placeholder="Markdown content here"><%= @content %></textarea>

  <div data-components--form--stackedit-target="stackeditContainer"></div>
</div>