<div data-controller="components--form--stackedit" class="w-full">
  <textarea data-components--form--stackedit-target="textarea" class="textarea hidden" placeholder="Markdown content here"></textarea>

  <div data-components--form--stackedit-target="stackeditContainer"></div>
</div>