<div class="flex justify-between mb-4">
  <p class="text-xl">
    Posts
  </p>

  <div class="flex justify-end">
    <a class="btn btn-primary" href="<%= new_admin_post_path %>" data-turbo="false">
      <%= tabler_icon 'plus', class: 'h-5 w-5' %> New
    </a>
  </div>
</div>

<%= render Form::FlashComponent.new %>

<div class="overflow-x-auto">
  <div data-controller="admin--post--index"
       data-admin--post--index-url-value="<%= admin_post_index_path %>"
       class="w-full h-[500px]">
  </div>
</div>