<div class="container mx-auto px-4 py-8 max-w-3xl">
  <%# Back button %>
  <div class="mb-8">
    <a href="/" class="btn btn-neutral">
      <%= tabler_icon 'arrow-left', class: 'h-6 w-6' %>
      Back to Home
    </a>
  </div>

  <div class="prose mb-8">
    <p>
      You can contact me at <a class="link" href="mailto:contact@dalenw.com">contact@dalenw.com</a>. My public PGP key signature is below.
    </p>
  </div>

  <div class="bg-base-300 p-4 rounded-lg">
    <pre class="font-mono text-sm whitespace-pre-wrap overflow-x-auto">
-----BEGIN PGP PUBLIC KEY BLOCK-----

xjMEZ7K8IxYJKwYBBAHaRw8BAQdA5pbE1n1OKKxY1rRXGPQ0AkdHySUbcF8x
7P7M/SYe2wDNKWNhdGNoYWxsQGRhbGVudy5jb20gPGNhdGNoYWxsQGRhbGVu
dy5jb20+wsARBBMWCgCDBYJnsrwjAwsJBwmQmd1jesMpkQZFFAAAAAAAHAAg
c2FsdEBub3RhdGlvbnMub3BlbnBncGpzLm9yZ6ED0IX1rFoA5aVGx4Y8k0Ye
jbdVtqR05XNjQLkIHxeIAxUKCAQWAAIBAhkBApsDAh4BFiEEnSVJ86KArVij
vCyPmd1jesMpkQYAAG1zAP4rUWYuqDdjkzYghsFptuSNBdaAA/kYnNoQWmg9
a4qGNwD+P0bhVhGFc8lmTPjzUmhyNbTpz1tBjeyQbKdzCHDGzQnOOARnsrwj
EgorBgEEAZdVAQUBAQdAUPUX7FN05DS8b8XSG1i0uLTK+05D7wyVgp2STg6y
xgADAQgHwr4EGBYKAHAFgmeyvCMJkJndY3rDKZEGRRQAAAAAABwAIHNhbHRA
bm90YXRpb25zLm9wZW5wZ3Bqcy5vcmc0P2fmE5alIgsDnFoQ9inTUEIChkHv
ZlX4jCqRiHpiyQKbDBYhBJ0lSfOigK1Yo7wsj5ndY3rDKZEGAACX6gEArZ7A
cPM2Rn4I3n1H5HWZfzBWCqiGLKo2KWdM18XJU4QA+gI5aD/rPWaxhzUpcUaO
byvfTTHDL95CcqDywi1qMOMG
=1kfb
-----END PGP PUBLIC KEY BLOCK-----
    </pre>
  </div>
</div>