<li>
  <a href="<%= admin_home_path %>">Home</a>
</li>
<li>
  <a href="<%= admin_post_index_path %>">Blog</a>
</li>
<li>
  <details>
    <summary>Parent</summary>
    <ul class="p-2">
      <li><a>Submenu 1</a></li>
      <li><a>Submenu 2</a></li>
    </ul>
  </details>
</li>
<li><a>Item 3</a></li>