@import "tailwindcss";

@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: all;
}


@plugin "daisyui/theme" {
  name: "gruvboxDark";
  default: true;
  prefersdark: true;
  color-scheme: dark;
  --color-base-100: #3c3836;
  --color-base-200: #504945;
  --color-base-300: #665c54;
  --color-base-content: #ebdbb2;
  --color-primary: #d65d0e;
  --color-primary-content: #ebdbb2;
  --color-secondary: #fe8019;
  --color-secondary-content: #ebdbb2;
  --color-accent: #928374;
  --color-accent-content: #ebdbb2;
  --color-neutral: #282828;
  --color-neutral-content: #ebdbb2;
  --color-info: #458588;
  --color-info-content: #ebdbb2;
  --color-success: #98971a;
  --color-success-content: #ebdbb2;
  --color-warning: #d79921;
  --color-warning-content: #ebdbb2;
  --color-error: #cc241d;
  --color-error-content: #ebdbb2;
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.21875rem;
  --size-field: 0.1875rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}


@plugin "daisyui/theme" {
  name: "gruvboxLight";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #ebdbb2;
  --color-base-200: #d5c4a1;
  --color-base-300: #bdae93;
  --color-base-content: #3c3836;
  --color-primary: #d65d0e;
  --color-primary-content: #3c3836;
  --color-secondary: #af3a03;
  --color-secondary-content: #3c3836;
  --color-accent: #928374;
  --color-accent-content: #3c3836;
  --color-neutral: #fbf1c7;
  --color-neutral-content: #3c3836;
  --color-info: #458588;
  --color-info-content: #3c3836;
  --color-success: #98971a;
  --color-success-content: #3c3836;
  --color-warning: #d79921;
  --color-warning-content: #3c3836;
  --color-error: #cc241d;
  --color-error-content: #3c3836;
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.21875rem;
  --size-field: 0.21875rem;
  --border: 2px;
  --depth: 1;
  --noise: 1;
}


@font-face {
    font-family: "ui-sans-serif";
    src: url("TX-02.woff2") format("woff");
}

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
